.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 6px;
  background: #ffffff;
  border-radius: 9999px;
  margin-bottom: 17px;
}

.input {
  margin-right: auto;
  margin-left: 16px;
  font-size: 16px;
  line-height: 19px;

  border: none;
  outline: none;
}

.saveBtn {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  background: #585292;
  border-radius: 999px;
  width: 64px;
  height: 36px;
  border: none;
  cursor: pointer;
}
